.menutop {
	text-transform: uppercase;
	background-color: transparent;
	border-color: transparent;
	padding-top: 35px;
	z-index: 999;
}

.navbar-brand {
	margin-top: -25px;
}

.imagensota {
	width: 100%;
	/*margin-top: -97px;*/
}

.carousel-inner {
	top: -88px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}